{% extends 'base.html' %}
{% block title %}password reset{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>Reset Password</h1>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form action="." class="form-horizontal" method="post">{% csrf_token %}
            <div class="form-group">
                <label class="col-md-5 control-label text-right">New Password</label>
                <div class="col-md-6 text-left">{{ form.newpassword1 }}</div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label text-right">Confirm Password</label>
                <div class="col-md-6 text-left">{{ form.newpassword2 }}</div>
            </div>
            <input type="submit" value="Change my password" class="btn btn-primary btn-lg" />
        </form>
    </div>
{% endblock %}